<div class="col-md-3">
  {% if form.non_field_errors  %}
    <div class="alert alert-danger" role="alert">
      {{ form.non_field_errors }} 
    </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
      <label class="form-label" for="{{ field.id_for_label }}"> {{ field.label }}: </label><br>
      <input 
        class="form-control" 
        id="{{ field.id_for_label }}" 
        name="{{ field.html_name }}" 
        type="{{ field.field.widget.input_type }}"
        {% if field.value %} 
          value="{{ field.value }}"
        {% endif %} >
        <small>{{ field.help_text }}</small>
        {{ field.errors }} 
      </p>
    {% endfor %}
    <div class="col-12">
      <button class="btn btn-primary" type="submit">{{ btn_text }}</button>
    </div>
  </form>
</div>
