{% extends 'base.html' %}

{% block title %}Авторизация{% endblock title %}
{% block content %}
  <h1>Авторизация:</h1>
  <div class="col-md-3">
    {% if next %}
      {% if user.is_authenticated %}
        <p>
          У вашего аккаунта нет доступа к этой странице.
          Чтобы продолжить, войдите в систему с аккаунтом,
          у которого есть доступ.
        </p>
      {% else %}
        <p>
          Пожалуйста, войдите в систему,
          чтобы просматривать эту страницу.
        </p>
      {% endif %}
    {% endif %}
    {% if form.non_field_errors  %}
      <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }} 
      </div>
    {% endif %}
    <form method="post" action="{% url 'users:login' %}">
      {% csrf_token %}
      <p>
        <label class="form-label" for="{{ form.username.id_for_label }}"> {{ form.username.label }}: </label><br>
        <input 
          class="form-control" 
          id="{{ form.username.id_for_label }}" 
          name="{{ form.username.html_name }}" 
          placeholder="Логин" 
          type="{{ form.username.field.widget.input_type }}"
          {% if form.username.value %} 
            value="{{ form.username.value }}"
          {% endif %} >
          {{ form.username.errors }} 
      </p>
      <p>
        <label class="form-label" for="{{ form.password.id_for_label }}"> {{ form.password.label }}: </label><br>
        <input 
          class="form-control" 
          id="{{ form.password.id_for_label }}" 
          name="{{ form.password.html_name }}" 
          placeholder="Пароль" 
          type="{{ form.password.field.widget.input_type }}"
          {% if form.password.value %} 
            value="{{ form.password.value }}"
          {% endif %} >
          {{ form.password.errors }} 
      </p>

      <div class="col-12">
        <button class="btn btn-primary" type="submit">Авторизация</button>
      </div>
      <input type="hidden" name="next" value="{{ next }}">
    </form>
    <p><a href="{% url 'users:password_reset' %}">Восстановление пароля</a></p>
  </div>

{% endblock content %}